h1, h2, h3, h4, h5 {
  font-weight: normal;
  margin: 0 0 8px; }

h1 {
  font-size: 34px; }

h2 {
  font-size: 26px; }

h3 {
  font-size: 22px; }

body {
  background-color: #f6f6f6;
  font-family: 'Open Sans', sans-serif; }

a {
  color: #00a1de;
  text-decoration: underline; }

button, .button, input[type="button"], input[type="submit"] {
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
  border: 0;
  border-radius: 0;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  background: linear-gradient(to right, #f79121 0%, #ff6319 50%);
  background-size: 200%;
  background-position: left center;
  text-decoration: none;
  text-decoration: none;
  font-weight: bold;
  box-sizing: border-box;
  display: inline-block;
  transition: .3s;
  letter-spacing: 1.2px;
  margin-top: 30px;
  padding: 15px 17px; }
  button:hover, .button:hover, input[type="button"]:hover, input[type="submit"]:hover {
    background-position: right; }
  button.blue, .button.blue, input[type="button"].blue, input[type="submit"].blue {
    color: #001d77;
    background: #fff;
    border: 2px solid #001d77; }
    button.blue:hover, .button.blue:hover, input[type="button"].blue:hover, input[type="submit"].blue:hover {
      color: #fff;
      background: #001d77; }
  button.bluereverse, .button.bluereverse, input[type="button"].bluereverse, input[type="submit"].bluereverse {
    background: #001d77;
    border: 2px solid #001d77; }
    button.bluereverse:hover, .button.bluereverse:hover, input[type="button"].bluereverse:hover, input[type="submit"].bluereverse:hover {
      background: #fff;
      color: #001d77; }
  button.blue-light, .button.blue-light, input[type="button"].blue-light, input[type="submit"].blue-light {
    color: #00a1de;
    background: #fff;
    border: 2px solid #00a1de; }
    button.blue-light:hover, .button.blue-light:hover, input[type="button"].blue-light:hover, input[type="submit"].blue-light:hover {
      color: #fff;
      background: #00a1de; }
  button.green, .button.green, input[type="button"].green, input[type="submit"].green {
    color: #00b092;
    background: #fff;
    border: 2px solid #00b092; }
    button.green:hover, .button.green:hover, input[type="button"].green:hover, input[type="submit"].green:hover {
      color: #fff;
      background: #00b092; }
  button.orange, .button.orange, input[type="button"].orange, input[type="submit"].orange {
    color: #ff6319;
    background: #fff;
    border: 2px solid #ff6319; }
    button.orange:hover, .button.orange:hover, input[type="button"].orange:hover, input[type="submit"].orange:hover {
      color: #fff;
      background: #ff6319; }

/* sticky css */
.stuck {
  position: fixed;
  top: 0;
  opacity: 1;
  z-index: 2;
  transition: opacity .05s; }
  .stuck.module-header {
    margin-top: 62px;
    width: 100%; }

header.stuck {
  z-index: 4; }

.wp-previous .module-header.stuck {
  opacity: 0; }

.sticky-wrapper {
  z-index: 3; }

.modules .module .module-header {
  z-index: 1; }

a.anchor {
  display: block;
  position: relative;
  top: -63px;
  visibility: hidden; }

::-webkit-media-controls {
  display: none !important; }

body .gform_wrapper form .gform_body .field-sublabel-hide .ginput_complex.ginput_container label {
  display: none; }

.newsletter body .gform_wrapper form .gform_body input {
  width: 100%; }

body .gform_wrapper form select {
  height: 36px; }
  @media (max-width: 1000px) {
    body .gform_wrapper form select {
      height: 46px; } }

body .gform_wrapper form div.validation_error {
  display: none; }

body .gform_wrapper form ul.gform_fields li.gfield.gfield_error,
body .gform_wrapper form ul.gform_fields li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
  background: transparent;
  border: 0;
  padding: 0;
  margin-bottom: 0 !important; }

body .gform_wrapper form ul.gform_fields li.half-width-column {
  width: 50%;
  max-width: 50% !important;
  display: inline-block;
  vertical-align: top; }
  @media (max-width: 1000px) {
    body .gform_wrapper form ul.gform_fields li.half-width-column {
      width: 100%;
      max-width: 100% !important;
      display: block;
      vertical-align: initial; } }

body .gform_wrapper form ul.gform_fields li.gfield input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
body .gform_wrapper form ul.gform_fields li.gfield textarea, body .gform_wrapper form ul.gform_fields li.gfield select {
  width: 100%;
  margin-right: 16px;
  background: #fff;
  border-radius: 0px;
  border: 1px solid #4d4f53; }

.gform_wrapper li.gfield.gfield_error.gfield_contains_required div.gfield_description.validation_message {
  border: 0px;
  padding: 0; }

.gform_wrapper li.gfield_error select {
  border: 1px solid #790000; }

/*# sourceMappingURL=form.css.map */
