@import url(normalize.css);
h1, h2, h3, h4, h5 {
  font-weight: normal;
  margin: 0 0 8px; }

h1 {
  font-size: 34px; }

h2 {
  font-size: 26px; }

h3 {
  font-size: 22px; }

body {
  background-color: #f6f6f6; }

button, .button, input[type="button"], input[type="submit"] {
  cursor: pointer;
  border: 0;
  border-radius: 0;
  line-height: 3.2;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  background: linear-gradient(to right, #f79121, #ff6319);
  background-position: left center;
  text-decoration: none;
  padding: 0 1.75em;
  text-decoration: none;
  font-weight: bold;
  box-sizing: border-box;
  display: inline-block;
  transition: .15s;
  letter-spacing: 1.2px;
  margin-top: 30px; }
  button:hover, .button:hover, input[type="button"]:hover, input[type="submit"]:hover {
    background-position: right center; }
  button.blue, .button.blue, input[type="button"].blue, input[type="submit"].blue {
    color: #001d77;
    background: transparent;
    border: 2px solid #001d77; }
    button.blue:hover, .button.blue:hover, input[type="button"].blue:hover, input[type="submit"].blue:hover {
      color: #fff;
      background: #001d77; }
  button.blue-light, .button.blue-light, input[type="button"].blue-light, input[type="submit"].blue-light {
    color: #00a1de;
    background: transparent;
    border: 2px solid #00a1de; }
    button.blue-light:hover, .button.blue-light:hover, input[type="button"].blue-light:hover, input[type="submit"].blue-light:hover {
      color: #fff;
      background: #00a1de; }
  button.green, .button.green, input[type="button"].green, input[type="submit"].green {
    color: #00b092;
    background: transparent;
    border: 2px solid #00b092; }
    button.green:hover, .button.green:hover, input[type="button"].green:hover, input[type="submit"].green:hover {
      color: #fff;
      background: #00b092; }
  button.orange, .button.orange, input[type="button"].orange, input[type="submit"].orange {
    color: #ff6319;
    background: transparent;
    border: 2px solid #ff6319; }
    button.orange:hover, .button.orange:hover, input[type="button"].orange:hover, input[type="submit"].orange:hover {
      color: #fff;
      background: #ff6319; }

/* normalizers */
.showMobile {
  display: none; }

.hideMobile {
  display: inherit; }

@media only screen and (max-width: 768px) {
  .showMobile {
    display: block; }
  .hideMobile {
    display: none; } }

header {
  background: #fff;
  border-top: 1px solid #f6f6f6;
  border-bottom: 1px solid #f6f6f6;
  width: 100%;
  height: 50px; }
  @media only screen and (max-width: 768px) {
    header {
      height: 100px; } }
  header .innerWrapper {
    max-width: 1200px;
    margin: 0 auto; }
    @media only screen and (max-width: 768px) {
      header .innerWrapper {
        background: #fff;
        position: fixed;
        width: 100%;
        height: 100px;
        z-index: 100; } }
  header .homeLink {
    display: inline-block;
    background-image: url("../images/logo.svg");
    background-repeat: no-repeat;
    background-position: 50%;
    height: 50px;
    width: 300px;
    margin: 0 0 0 88px; }
    @media only screen and (max-width: 768px) {
      header .homeLink {
        position: absolute;
        top: 50px;
        width: 100%;
        margin: 0;
        background-color: white; } }
  header ul#navigation {
    display: inline-block;
    vertical-align: top;
    list-style-type: none;
    margin: 0;
    padding: 0;
    transition: .15s; }
    @media only screen and (max-width: 768px) {
      header ul#navigation {
        display: none;
        height: 0px;
        box-shadow: 0px 15px 10px -1px rgba(0, 0, 0, 0.33);
        overflow: auto; } }
    header ul#navigation > li {
      height: 50px;
      display: inline-block;
      border-left: 1px solid #f6f6f6;
      position: relative;
      text-transform: capitalize; }
      @media only screen and (max-width: 768px) {
        header ul#navigation > li {
          display: block;
          width: 100%;
          height: initial;
          border-left: iniital;
          position: relative;
          border: 0;
          border-bottom: 1px solid #f6f6f6; }
          header ul#navigation > li > a:after {
            content: ' ';
            width: 15px;
            height: 15px;
            border-right: 1.5px solid #4d4f53;
            border-bottom: 1.5px solid #4d4f53;
            transform: rotate(-135deg);
            transition: .15s;
            position: absolute;
            top: 20px;
            right: 30px; }
          header ul#navigation > li:hover > a:after {
            transform: rotate(45deg);
            top: 12px; } }
      header ul#navigation > li:hover ul.level-2 {
        display: block;
        height: auto; }
      header ul#navigation > li:hover a {
        text-decoration: underline; }
      header ul#navigation > li a {
        box-sizing: border-box;
        text-decoration: none;
        text-transform: capitalize;
        color: #4d4f53;
        line-height: 50px;
        text-align: center;
        padding: 0 24px; }
        header ul#navigation > li a a:hover {
          text-decoration: underline; }
      header ul#navigation > li ul.level-2 {
        list-style-type: none;
        display: none;
        position: absolute;
        left: -1;
        top: 49px;
        padding: 0;
        background: #fff;
        border: 1px solid #f6f6f6;
        box-shadow: 2px 5px 10px -1px rgba(0, 0, 0, 0.33);
        width: 200%;
        transition: .15s; }
        @media only screen and (max-width: 768px) {
          header ul#navigation > li ul.level-2 {
            width: 100%;
            box-shadow: initial;
            position: initial;
            height: 0;
            border: 0; } }
        header ul#navigation > li ul.level-2 li a {
          width: 100%;
          line-height: 2.5;
          padding: 0 12px;
          text-transform: capitalize;
          text-decoration: none; }
          @media only screen and (max-width: 768px) {
            header ul#navigation > li ul.level-2 li a {
              background: #f6f6f6;
              display: block;
              text-align: left;
              border-bottom: 1px solid #fff;
              padding-left: 60px; }
              header ul#navigation > li ul.level-2 li a:hover {
                text-decoration: underline; } }
  header button#buyTicketTop {
    transition: 0;
    float: right;
    vertical-align: top;
    line-height: 50px;
    padding: 0 33px;
    font-size: 16px;
    margin-top: 0; }
    @media only screen and (max-width: 768px) {
      header button#buyTicketTop {
        width: 50%;
        padding: 0;
        height: 50px; } }

.show-nav {
  transition: .15s; }
  .show-nav .mobileMenu .hideMenuOpen {
    display: none; }
  .show-nav .mobileMenu .showMenuOpen {
    display: inline-block; }
  .show-nav ul#navigation {
    display: block;
    z-index: 10;
    background: white;
    position: absolute;
    width: 100%;
    height: auto; }

.mobileMenu {
  display: none;
  background: #001d77;
  color: #f6f6f6;
  width: 50%;
  float: none;
  cursor: pointer; }
  @media only screen and (max-width: 768px) {
    .mobileMenu {
      display: inline-block;
      vertical-align: top; } }
  .mobileMenu .hideMenuOpen {
    display: inline-block; }
  .mobileMenu .showMenuOpen {
    display: none; }
  .mobileMenu .label {
    line-height: 50px; }
    .mobileMenu .label span {
      line-height: 50px;
      vertical-align: top; }
  .mobileMenu .hamburger {
    display: inline-block;
    font: inherit;
    overflow: visible;
    margin: 0;
    padding: 14px;
    cursor: pointer;
    transition-timing-function: linear;
    transition-duration: .15s;
    transition-property: opacity,filter;
    text-transform: none;
    color: inherit;
    border: 0;
    background-color: transparent; }
  .mobileMenu .hamburger-box {
    position: relative;
    display: inline-block;
    width: 2.2rem;
    height: 24px; }
  .mobileMenu .hamburger .hamburger-inner {
    background-color: #f6f6f6; }
    .mobileMenu .hamburger .hamburger-inner:after, .mobileMenu .hamburger .hamburger-inner:before {
      background-color: #f6f6f6; }
  .mobileMenu .hamburger-inner {
    position: absolute;
    width: 2.2rem;
    height: 2px;
    top: 2px;
    transition-timing-function: ease;
    transition-duration: .15s;
    transition-property: transform;
    border-radius: 4px;
    background-color: #000; }
    .show-nav .mobileMenu .hamburger-inner {
      transform: translate3d(-2px, 9px, 38px) rotate(45deg); }
    .mobileMenu .hamburger-inner:after, .mobileMenu .hamburger-inner:before {
      position: absolute;
      width: 2.2rem;
      height: 2px;
      transition-timing-function: ease;
      transition-duration: .15s;
      transition-property: transform;
      border-radius: 4px;
      background-color: #000; }
    .mobileMenu .hamburger-inner:after {
      display: block;
      content: ""; }
      .show-nav .mobileMenu .hamburger-inner:after {
        transform: translate3d(0, -17px, 0) rotate(-90deg); }
    .mobileMenu .hamburger-inner:before {
      display: block;
      content: "";
      top: 8px;
      transition-timing-function: ease;
      transition-duration: .15s;
      transition-property: transform, opacity; }
      .show-nav .mobileMenu .hamburger-inner:before {
        transform: rotate(-45deg) translate3d(-5.71px, -6px, 0);
        opacity: 0; }
    .mobileMenu .hamburger-inner:after {
      bottom: -10px;
      top: 16px; }

/*# sourceMappingURL=header.css.map */
