h1, h2, h3, h4, h5 {
  font-weight: normal;
  margin: 0 0 8px; }

h1 {
  font-size: 34px; }

h2 {
  font-size: 26px; }

h3 {
  font-size: 22px; }

body {
  background-color: #f6f6f6;
  font-family: 'Open Sans', sans-serif; }

a {
  color: #00a1de;
  text-decoration: underline; }

button, .button, input[type="button"], input[type="submit"] {
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
  border: 0;
  border-radius: 0;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  background: linear-gradient(to right, #f79121 0%, #ff6319 50%);
  background-size: 200%;
  background-position: left center;
  text-decoration: none;
  text-decoration: none;
  font-weight: bold;
  box-sizing: border-box;
  display: inline-block;
  transition: .3s;
  letter-spacing: 1.2px;
  margin-top: 30px;
  padding: 15px 17px; }
  button:hover, .button:hover, input[type="button"]:hover, input[type="submit"]:hover {
    background-position: right; }
  button.blue, .button.blue, input[type="button"].blue, input[type="submit"].blue {
    color: #001d77;
    background: #fff;
    border: 2px solid #001d77; }
    button.blue:hover, .button.blue:hover, input[type="button"].blue:hover, input[type="submit"].blue:hover {
      color: #fff;
      background: #001d77; }
  button.bluereverse, .button.bluereverse, input[type="button"].bluereverse, input[type="submit"].bluereverse {
    background: #001d77;
    border: 2px solid #001d77; }
    button.bluereverse:hover, .button.bluereverse:hover, input[type="button"].bluereverse:hover, input[type="submit"].bluereverse:hover {
      background: #fff;
      color: #001d77; }
  button.blue-light, .button.blue-light, input[type="button"].blue-light, input[type="submit"].blue-light {
    color: #00a1de;
    background: #fff;
    border: 2px solid #00a1de; }
    button.blue-light:hover, .button.blue-light:hover, input[type="button"].blue-light:hover, input[type="submit"].blue-light:hover {
      color: #fff;
      background: #00a1de; }
  button.green, .button.green, input[type="button"].green, input[type="submit"].green {
    color: #00b092;
    background: #fff;
    border: 2px solid #00b092; }
    button.green:hover, .button.green:hover, input[type="button"].green:hover, input[type="submit"].green:hover {
      color: #fff;
      background: #00b092; }
  button.orange, .button.orange, input[type="button"].orange, input[type="submit"].orange {
    color: #ff6319;
    background: #fff;
    border: 2px solid #ff6319; }
    button.orange:hover, .button.orange:hover, input[type="button"].orange:hover, input[type="submit"].orange:hover {
      color: #fff;
      background: #ff6319; }

/* sticky css */
.stuck {
  position: fixed;
  top: 0;
  opacity: 1;
  transition: opacity .15s; }
  .stuck.module-header {
    margin-top: 62px;
    width: 100%; }

.showMobile {
  display: none; }

.hideMobile {
  display: inherit; }

@media (max-width: 1000px) {
  .showMobile {
    display: block; }
  .hideMobile {
    display: none; } }

.alertBox {
  font-size: 12px;
  background: #f6f6f6;
  display: block;
  max-height: 32px;
  padding: 7px 38px 7px 11px;
  box-sizing: border-box;
  transition: .15s;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer; }
  .alertBox .inner {
    box-sizing: border-box;
    padding: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 1200px;
    position: relative;
    padding-left: 35px;
    padding-right: 24px; }
  .alertBox label {
    color: #ff6319; }
    .alertBox label:after {
      content: ' ';
      width: 12px;
      height: 12px;
      border-right: 1.5px solid #4d4f53;
      border-bottom: 1.5px solid #4d4f53;
      transform: rotate(-135deg);
      transition: .15s;
      position: absolute;
      top: 7px;
      right: 3px; }
  .alertBox.showAlert {
    max-height: 50%;
    text-overflow: initial;
    white-space: initial;
    overflow: auto;
    padding-top: 14px;
    padding-bottom: 14px; }
    .alertBox.showAlert label:after {
      transform: rotate(45deg);
      top: 0px; }
  @media (max-width: 1000px) {
    .pageScrolled .alertBox {
      max-height: 0;
      padding: 0; } }

/*
.pageScrolled{
	.alertBox{

		.inner{

		}
	}
	header{
		position: fixed;
	}
	.modules{
		margin-top: 62px;
	}
}
*/
header {
  background: #fff;
  border-bottom: 1px solid #f6f6f6;
  width: 100%;
  height: 62px; }
  @media (max-width: 1000px) {
    header {
      height: 124px;
      transition: .15s; }
      .pageScrolled header {
        height: 62px; } }
  header .innerWrapper {
    max-width: 1200px;
    margin: 0 auto;
    display: flex; }
    @media (max-width: 1000px) {
      header .innerWrapper {
        position: fixed;
        display: block;
        width: 100%;
        height: 124px;
        z-index: 100;
        transition: .15s; }
        .pageScrolled header .innerWrapper {
          height: 62px;
          box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, 0.33); } }
  header .homeLink {
    display: inline-block;
    height: 62px;
    min-width: 235px;
    width: 300px;
    margin: 0;
    text-align: center; }
    header .homeLink > span {
      display: inline-block;
      margin: 0 auto;
      height: 100%;
      max-width: 490px;
      width: 100%;
      background-image: url("../images/logo.svg");
      background-repeat: no-repeat;
      background-position: 50%;
      background-size: 88%; }
    @media (max-width: 1000px) {
      header .homeLink {
        position: absolute;
        top: 62px;
        left: 0px;
        height: 62px;
        width: 100%;
        margin: 0;
        background-color: white;
        transition: .15s;
        box-shadow: 0 0 0 0 transparent; }
        .pageScrolled header .homeLink {
          top: 0px;
          left: 62px;
          height: 62px;
          width: calc(100% - 124px);
          min-width: initial;
          max-width: initial; }
          .pageScrolled header .homeLink img {
            width: 100%; } }
  header ul#menu-header-menu {
    display: inline-flex;
    vertical-align: top;
    list-style-type: none;
    margin: 0;
    padding: 0;
    transition: max-height .15s;
    width: calc(100% - 491px); }
    @media (max-width: 1000px) {
      header ul#menu-header-menu {
        box-shadow: 0px 5px 10px -1px rgba(0, 0, 0, 0.33);
        overflow: auto;
        width: 100%;
        max-height: 0px;
        display: block; } }
    header ul#menu-header-menu > li {
      height: 62px;
      box-sizing: border-box;
      display: inline-block;
      position: relative;
      text-transform: capitalize;
      width: 25%;
      transition: .15s;
      border-left: 1.5px solid #f6f6f6; }
      header ul#menu-header-menu > li:last-child {
        border-right: 1.5px solid #f6f6f6; }
      header ul#menu-header-menu > li:hover ul.sub-menu, header ul#menu-header-menu > li.activeMenu ul.sub-menu {
        display: block; }
      header ul#menu-header-menu > li:hover > a, header ul#menu-header-menu > li.activeMenu > a {
        border-top: 3px solid #ff6319; }
        @media (max-width: 1000px) {
          header ul#menu-header-menu > li:hover > a, header ul#menu-header-menu > li.activeMenu > a {
            border-top: 0; } }
      @media (max-width: 1000px) {
        header ul#menu-header-menu > li:hover ul.sub-menu, header ul#menu-header-menu > li.activeMenu ul.sub-menu {
          display: initial; } }
      header ul#menu-header-menu > li > a {
        border-top: 3px solid transparent; }
      header ul#menu-header-menu > li a {
        box-sizing: border-box;
        text-decoration: none;
        text-transform: capitalize;
        color: #4d4f53;
        text-align: center;
        padding: 19px 0;
        display: block; }
      @media (max-width: 1000px) {
        header ul#menu-header-menu > li {
          display: block;
          width: 100%;
          height: initial;
          border-left: iniital;
          position: relative;
          border: 0;
          border-top: 0;
          padding: 0;
          border-bottom: 1px solid #f6f6f6; }
          header ul#menu-header-menu > li > a {
            border: 0;
            display: block;
            text-align: left;
            padding: 14px 20px; }
          header ul#menu-header-menu > li > a:after {
            content: ' ';
            width: 15px;
            height: 15px;
            border-right: 1.5px solid #4d4f53;
            border-bottom: 1.5px solid #4d4f53;
            transform: rotate(-135deg);
            transition: .15s;
            position: absolute;
            top: 22px;
            right: 24px; }
          header ul#menu-header-menu > li:hover, header ul#menu-header-menu > li.activeMenu {
            border: 0;
            border-top: 0; }
            header ul#menu-header-menu > li:hover > a:after, header ul#menu-header-menu > li.activeMenu > a:after {
              transform: rotate(45deg);
              top: 12px; }
            header ul#menu-header-menu > li:hover ul.sub-menu, header ul#menu-header-menu > li.activeMenu ul.sub-menu {
              max-height: 50vh; } }
      header ul#menu-header-menu > li ul.sub-menu {
        list-style-type: none;
        display: none;
        position: absolute;
        left: -1;
        top: 61px;
        padding: 0;
        background: #fff;
        border-top: 0;
        border: 1px solid #f6f6f6;
        box-shadow: 1px 2px 2px -1px rgba(0, 0, 0, 0.33);
        width: 300px;
        transition: .15s;
        z-index: 1; }
        @media (max-width: 1000px) {
          header ul#menu-header-menu > li ul.sub-menu {
            width: 100%;
            box-shadow: initial;
            position: initial;
            max-height: 0;
            border: 0; } }
        header ul#menu-header-menu > li ul.sub-menu li {
          border-bottom: 1px solid #f6f6f6; }
          header ul#menu-header-menu > li ul.sub-menu li:hover {
            border-top: 0; }
          header ul#menu-header-menu > li ul.sub-menu li a {
            width: 100%;
            line-height: 1.2;
            padding: 20px 50px;
            text-transform: capitalize;
            text-decoration: none;
            position: relative;
            border-left: 0;
            text-align: left; }
            header ul#menu-header-menu > li ul.sub-menu li a:before {
              content: ' ';
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 50px 0 50px 86.6px;
              border-color: transparent transparent transparent #ff6319;
              transform: scale(0.2);
              position: absolute;
              left: -24px;
              top: -19px;
              opacity: 0;
              transition: .15s; }
            header ul#menu-header-menu > li ul.sub-menu li a:hover {
              text-decoration: underline; }
              header ul#menu-header-menu > li ul.sub-menu li a:hover:before {
                left: -12px;
                opacity: 1; }
            @media (max-width: 1000px) {
              header ul#menu-header-menu > li ul.sub-menu li a {
                background: #f6f6f6;
                display: block;
                text-align: left;
                border-bottom: 1px solid #fff; }
                header ul#menu-header-menu > li ul.sub-menu li a:hover {
                  text-decoration: underline; } }
  header button#buyTicketTop {
    height: 62px;
    vertical-align: top;
    line-height: 62px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: .5px;
    margin-top: 0;
    font-weight: normal;
    position: relative;
    overflow: hidden;
    width: 195px;
    padding: 0; }
    @media (max-width: 1000px) {
      header button#buyTicketTop {
        height: 62px; } }
    header button#buyTicketTop:before {
      cursor: pointer;
      content: ' ';
      height: 62px;
      width: 36px;
      background-image: url(../images/ticket-icon.svg);
      background-size: 29px;
      background-position: 0% 50%;
      background-repeat: no-repeat;
      left: 0;
      top: 0;
      display: inline-block;
      transition: .15s; }
      @media (max-width: 1000px) {
        header button#buyTicketTop:before {
          height: 62px; }
          .pageScrolled header button#buyTicketTop:before {
            width: 62px;
            background-position: 50% 50%;
            background-size: 40px; } }
    header button#buyTicketTop label {
      padding-left: 0;
      font-weight: bold;
      line-height: 62px;
      vertical-align: top;
      cursor: pointer; }
    @media (max-width: 1000px) {
      header button#buyTicketTop {
        width: 50%;
        display: block;
        position: absolute;
        top: 0px;
        right: 0px;
        padding: 0;
        height: 62px;
        transition: .15s; }
        header button#buyTicketTop label {
          padding-left: 0;
          font-weight: bold;
          line-height: 62px;
          vertical-align: top;
          font-size: 14px; }
        .pageScrolled header button#buyTicketTop {
          width: 62px; }
          .pageScrolled header button#buyTicketTop label {
            width: 0px;
            display: none;
            opacity: 0; } }

.show-nav {
  transition: max-height .15s; }
  .show-nav .mobileMenu .hideMenuOpen {
    display: none; }
  .show-nav .mobileMenu .showMenuOpen {
    display: inline-block; }
  .show-nav ul#menu-header-menu {
    z-index: 10;
    background: white;
    position: absolute;
    width: 100%;
    padding: 0;
    height: auto;
    max-height: calc(100vh - 62px);
    top: 62px; }

.mobileMenu {
  display: none;
  background: #001d77;
  color: #f6f6f6;
  width: 50%;
  height: 62px;
  float: none;
  cursor: pointer;
  text-align: center; }
  @media (max-width: 1000px) {
    .mobileMenu {
      display: inline-block;
      vertical-align: top;
      transition: .15s;
      overflow: hidden; }
      .pageScrolled .mobileMenu {
        width: 62px; } }
  .mobileMenu .hideMenuOpen {
    display: inline-block; }
  .mobileMenu .showMenuOpen {
    display: none; }
  .mobileMenu .label {
    line-height: 62px;
    padding-left: 0.5em;
    width: 100%;
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    transition: opacity .15s width .15s;
    overflow: hidden; }
    .mobileMenu .label span {
      line-height: 62px;
      vertical-align: top; }
    @media (max-width: 1000px) {
      .mobileMenu .label {
        line-height: 62px; }
        .mobileMenu .label span {
          line-height: 62px; }
        .pageScrolled .mobileMenu .label {
          display: none;
          opacity: 0;
          width: 0px; } }
  .mobileMenu .hamburger {
    display: inline-block;
    font: inherit;
    overflow: visible;
    margin: 0;
    padding: 19px 0px;
    cursor: pointer;
    transition-timing-function: linear;
    transition-duration: .15s;
    transition-property: opacity,filter;
    text-transform: none;
    color: inherit;
    border: 0;
    background-color: transparent;
    transform: scaleX(0.6);
    transition: .15s; }
    .show-nav .mobileMenu .hamburger {
      transform: scale(0.7); }
  .mobileMenu .hamburger-box {
    position: relative;
    display: inline-block;
    width: 2.2rem;
    height: 24px; }
  .mobileMenu .hamburger .hamburger-inner {
    background-color: #f6f6f6; }
    .mobileMenu .hamburger .hamburger-inner:after, .mobileMenu .hamburger .hamburger-inner:before {
      background-color: #f6f6f6; }
  .mobileMenu .hamburger-inner {
    position: absolute;
    width: 2.2rem;
    height: 2px;
    top: 2px;
    transition-timing-function: ease;
    transition-duration: .15s;
    transition-property: transform;
    border-radius: 4px;
    background-color: #000; }
    .show-nav .mobileMenu .hamburger-inner {
      transform: translate3d(-2px, 9px, 38px) rotate(45deg); }
    .mobileMenu .hamburger-inner:after, .mobileMenu .hamburger-inner:before {
      position: absolute;
      width: 2.2rem;
      height: 2px;
      transition-timing-function: ease;
      transition-duration: .15s;
      transition-property: transform;
      border-radius: 4px;
      background-color: #000; }
    .mobileMenu .hamburger-inner:after {
      display: block;
      content: ""; }
      .show-nav .mobileMenu .hamburger-inner:after {
        transform: translate3d(0, -17px, 0) rotate(-90deg) scaleX(1); }
    .mobileMenu .hamburger-inner:before {
      display: block;
      content: "";
      top: 8px;
      transition-timing-function: ease;
      transition-duration: .15s;
      transition-property: transform, opacity; }
      .show-nav .mobileMenu .hamburger-inner:before {
        transform: rotate(-45deg) translate3d(-5.71px, -6px, 0);
        opacity: 0; }
    .mobileMenu .hamburger-inner:after {
      bottom: -10px;
      top: 16px; }

/* 
	SCROLL STICKY HEADERS
	https://codepen.io/chrissp26/pen/gBrdo 
*/
.module .module-header.fixed, #tribe-events-bar.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 1; }
  @media (max-width: 1000px) {
    .module .module-header.fixed, #tribe-events-bar.fixed {
      top: 62px; } }

.module .module-header.fixed.absolute, #tribe-events-bar.absolute {
  position: absolute; }

/* timeline */
.timeline .inner {
  padding: 0; }
  .timeline .inner .timelineItem {
    box-sizing: border-box;
    text-align: right;
    position: relative;
    top: -2em;
    box-sizing: border-box;
    width: calc(50% + 6.5px);
    border-left: 0;
    border-right: 2px solid #001d77;
    margin-right: 50%;
    margin-left: 0;
    padding-top: 2em;
    padding-right: 3em;
    padding-bottom: 2em; }
    .timeline .inner .timelineItem:first-child {
      top: 0; }
    @media (max-width: 1000px) {
      .timeline .inner .timelineItem {
        text-align: left;
        top: 0;
        position: initial;
        width: 100%;
        border: 0;
        margin: initial;
        padding: initial;
        padding: 2em 0;
        border-bottom: 1px solid #001d77;
        display: block; } }
    .timeline .inner .timelineItem:before {
      content: ' ';
      position: absolute;
      right: 1.5em;
      top: 2.5em;
      border: 3px solid red;
      border-radius: 50%;
      background: white;
      width: .5em;
      height: .5em;
      z-index: 0; }
      @media (max-width: 1000px) {
        .timeline .inner .timelineItem:before {
          display: none; } }
    .timeline .inner .timelineItem:after {
      content: ' ';
      position: absolute;
      width: calc(1.5em + 1px);
      top: 2.85em;
      right: 0px;
      left: initial;
      height: 1px;
      border-top: 2px solid #001d77;
      z-index: 0; }
      @media (max-width: 1000px) {
        .timeline .inner .timelineItem:after {
          display: none; } }
    @media (max-width: 1000px) {
      .timeline .inner .timelineItem .timelineImg {
        position: initial;
        top: initial;
        left: initial; } }
    @media (max-width: 1000px) {
      .timeline .inner .timelineItem .timelineImg img {
        margin-top: 2em;
        width: 100%; } }
    .timeline .inner .timelineItem .timelineImg:before {
      content: ' ';
      position: absolute;
      width: 2em;
      top: 1em;
      left: 1em;
      height: 1px;
      border-top: 2px solid #001d77;
      z-index: 0; }
      @media (max-width: 1000px) {
        .timeline .inner .timelineItem .timelineImg:before {
          display: none; } }
    .timeline .inner .timelineItem:nth-child(even) {
      text-align: left;
      border-right: 0;
      border-left: 2px solid #001d77;
      margin-left: calc(50% + 4px);
      margin-right: 0;
      padding-left: 3em; }
      @media (max-width: 1000px) {
        .timeline .inner .timelineItem:nth-child(even) {
          text-align: left;
          border: 0px;
          margin: initial;
          padding: initial;
          width: 100%;
          padding-bottom: 2em;
          border-bottom: 1px solid #001d77;
          margin-bottom: 2em; } }
      .timeline .inner .timelineItem:nth-child(even):before {
        right: initial;
        left: 1.5em; }
      .timeline .inner .timelineItem:nth-child(even):after {
        right: initial;
        left: -1px; }

/*# sourceMappingURL=header.css.map */
