/********************************************************************************
*********************************************************************************

EVERYWHERE

*********************************************************************************
********************************************************************************/

body {
	font-family: 'Open Sans', sans-serif;
	color: #55565a;
	margin: 0;
}

.clear {
	clear: both;
}

.circus {
	background-image: url(../images/circus.svg);
	background-size: 56px 10px;
	background-position: bottom center;
	background-repeat: no-repeat;
	padding-bottom: 20px;
}

.spacer {
	height: 32px;
}

a.icon-button {
	display: inline-block;
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0 8px 6px 8px;
	white-space: nowrap;
	
	font-size: 13px;
	letter-spacing: 1.3px;
}
a.icon-button:last-child {
	margin-right: 0;
}

a.icon-button img {
	width: 25px;
	max-height: 21px;
	vertical-align: middle;
}
a.icon-button span {
	margin-left: 6px;
	vertical-align: middle;
}

hr {
	border-top: solid 2px #ff6319;
	border-bottom: none;
	border-left: none;
	border-right: none;
	width: 50%;
	display: inline-block;
	margin: 20px 0;
}

/********************************************************************************
*********************************************************************************

MODULE

*********************************************************************************
********************************************************************************/

.module {
	background-color: #fff;
	text-align: center;
	overflow: hidden;
	background-size: cover;
}
.module:nth-child(even) {
	background-color: #f6f6f6;
}

/*
.module.gray,
.module:nth-of-type(even) {
	background-color: #f6f6f6;
}
*/

.module.white {
	background-color: #fff !important;
}
.module.gray {
	background-color: #f6f6f6 !important;
}
.module.blue {
	background-color: #001D77 !important;
	color: #fff;
}

.module.text-white {
	color: #fff;
}
.module.text-black {
	color: #55565a;
}

.module.left {
	text-align: left;
}

.inner {
	width: 800px;
	max-width: 90%;
	margin: 0 auto;
	padding: 56px 0;
}

.module-header-image {
	background-size: cover;
	width: 100%;
	height: 300px;
	background-position: center center;
}

.module.top-stroke-blue {
	border-top: solid 5px #001D77;
}
.module.top-stroke-orange {
	border-top: solid 5px #ff6319;
}
.module.top-stroke-light-blue {
	border-top: solid 5px #00a1de;
}
.module.top-stroke-green {
	border-top: solid 5px #00b092;
}

/********************************************************************************
*********************************************************************************

2-COLUMN PAGE

*********************************************************************************
********************************************************************************/

.page-columns {
	display: flex;
	background-color: #fff;
}
.page-columns .page-column {
	box-sizing: border-box;
	width: 50%;
	padding: 56px;
}

.page-columns .page-column:first-child .inner {
	margin: 0 0 0 auto;
}
.page-columns .page-column:last-child .inner {
	margin: 0 auto 0 0;
}

.page-columns .page-column.gray {
	background-color: #f6f6f6;
}
.page-columns .page-column.left {
	text-align: left;
}
.page-columns .page-column.center {
	text-align: center;
}
.page-columns .page-column .inner {
	padding: 0;
	width: 400px;
}

@media screen and (max-width: 768px) {
	.page-columns {
		display: block;
	}
	
	.page-columns .page-column {
		width: 100%;
		padding: 56px 0;
		margin: 0;
	}
	
	.page-columns .page-column .inner {
		width: 90%;
	}
	
	.page-columns .page-column:first-child .inner,
	.page-columns .page-column:last-child .inner {
		margin: 0 auto;
	}
}

/********************************************************************************
*********************************************************************************

BANNER

this is for page headers with background image, with or without text content

*********************************************************************************
********************************************************************************/

.header-image {
	text-align: center;
	overflow: hidden;
	background-size: cover;
	width: 100%;
	
	display: flex;
	align-items: center;
	justify-content: center;
	
	background-color: #ccc;
	color: #fff;
	
	/*default small*/
	height: 275px;
	/*default center*/
	background-position: center center;
}

.header-image.medium {
	height: 400px;
}
.header-image.large {
	height: 550px;
}

.header-image.left {
	background-position: left center;
}
.header-image.right {
	background-position: right center;
}

@media screen and (max-width: 768px) {
	/*
	THIS NEEDS HELP!
	*/
	
	.header-image {
		height: 300px;
	}
}

/********************************************************************************
*********************************************************************************

CHECKERBOARD

*********************************************************************************
********************************************************************************/

.checkerboard-inner {
	width: 1200px;
	max-width: 100%;
	margin: 0 auto;
	background-color: #fff;
}

.checkerboard-inner > div {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	text-align: left;
}
.checkerboard-inner > div:nth-child(even) {
	flex-direction: row-reverse;
	text-align: right;
}

/*
.checkerboard-inner > div div.image img {
	width: 100%;
	height: auto;
}
*/

.checkerboard-inner > div div.image {
	width: 50%;
	height: 400px;
	background-size: cover;
	background-position: right center;
	position: relative;
}
.checkerboard-inner > div:nth-child(even) div.image {
	background-position: left center;
}

.checkerboard-inner > div > div.image:after {
	content: "";
	position: absolute;
	top: calc(50% - 8px);
	border-top: solid 16px transparent;
	border-bottom: solid 16px transparent;
	width: 0;
	height: 0;
	border-right: solid 16px #fff;
	right: 0;
}
.checkerboard-inner > div:nth-child(even) > div.image:after {
	border-left: solid 16px #fff;
	border-right: solid 16px transparent;
	left: 0;
}

.checkerboard-inner > div div.content {
	box-sizing: border-box;
	width: 50%;
	height: 400px;
	position: relative;
	display: flex;
	align-items: center;
}
.checkerboard-inner div div.content div.content-inner {
	padding: 0 12%;
}

.checkerboard-inner div div.content h2 {
}

.checkerboard-inner div div.content h3 {
	font-style: italic;
	margin-top: -6px;
	font-size: 18px;
}

.checkerboard-inner div div.content a.button {
	margin-top: 32px;
}

.check-bottom-buttons {
	background-color: #f6f6f6;
	width: calc(100% - 40px);
	position: absolute;
	bottom: 0;
	padding: 20px;
	text-align: left;
}
.checkerboard-inner > div:nth-child(even) .check-bottom-buttons {
	text-align: right;
}
.check-bottom-buttons a {
	text-align: left;
}

@media screen and (max-width: 768px) {
	
	.checkerboard-inner > div:nth-child(odd),
	.checkerboard-inner > div:nth-child(even) {
		display: block;
		text-align: center;
	}
	
	.checkerboard-inner > div div.image {
		width: 100vw;
		height: 66.7vw;
	}
	.checkerboard-inner > div:nth-child(odd) div.image {
		background-position: center center;
	}
	.checkerboard-inner > div:nth-child(even) div.image {
		background-position: center center;
	}
	
	.checkerboard-inner > div div.image:after,
	.checkerboard-inner > div:nth-child(even) div.image:after {
		top: auto;
		bottom: 0;
		right: 0;
		left: calc(50% - 8px);
		border-top: solid 16px transparent;
		border-left: solid 16px transparent;
		border-right: solid 16px transparent;
		border-bottom: solid 16px #fff;
	}
	
	.checkerboard-inner > div div.content {
		display: block;
		width: 100%;
		padding: 32px 0 0 0;
		height: auto;
	}
	
	.checkerboard-inner > div div.content-inner {
		margin-bottom: 32px;
	}
	
	.check-bottom-buttons {
		width: calc(100% - 40px);
		display: block;
		position: inherit;
		text-align: center;
	}
	.checkerboard-inner > div:nth-child(even) .check-bottom-buttons {
		text-align: center;
	}
}

/********************************************************************************
*********************************************************************************

OWL CAROUSEL NAV

*********************************************************************************
********************************************************************************/

.owl-prev,
.owl-next {
	display: block !important;
	position: absolute;
	width: 50px;
	height: 30px;
	text-align: center;
	padding: 20px 0 0 0;
	background-size: 10px 20px;
	background-position: center center;
	background-repeat: no-repeat;
}
.owl-prev {
	left: -50px;
	background-image: url(../images/carousel-arrow-left.svg);
}
.owl-next {
	right: -50px;
	background-image: url(../images/carousel-arrow-right.svg);
}
.owl-prev i, .owl-next i {transform : scale(1,6); color: #ccc;}

@media screen and (max-width: 400px) {
	.owl-prev {
		left: -40px;
	}
	.owl-next {
		right: -40px;
	}
}

/********************************************************************************
*********************************************************************************

EVENT CAROUSEL

*********************************************************************************
********************************************************************************/

.carousel .inner {
	width: 890px;
	max-width: 80%;
}

.carousel .owl-carousel div.slide img {
	width: 100%;
	height: auto;
	margin: 0 0 24px 0;
}

.carousel .owl-prev,
.carousel .owl-next {
	top: 10.2vw;
}

@media screen and (max-width: 600px) {
	.carousel .owl-prev,
	.carousel .owl-next {
		top: 20.2vw;
	}
}

/********************************************************************************
*********************************************************************************

INSTAGRAM CAROUSEL

*********************************************************************************
********************************************************************************/

.instagram-carousel .inner {
	width: 880px;
	max-width: 80%;
}

.instagram-carousel h2 {
	margin-bottom: 42px;
}

.instagram-carousel .owl-carousel div.slide a {
	display: block;
	text-align: center;
}

.instagram-carousel .owl-carousel div.slide a img {
	width: 160px;
	height: auto;
	max-width: 100%;
	display: inline-block;
}

.instagram-carousel .owl-prev,
.instagram-carousel .owl-next {
	top: 55px;
}

/********************************************************************************
*********************************************************************************

FOOTER FORM VALIDATION

*********************************************************************************
********************************************************************************/

footer .gform_wrapper {
	margin-top: 0;
	margin-bottom: 0;
}

footer .gform_wrapper .gfield_html.gfield_no_follows_desc {
	margin-top: 0;
}

footer .gform_wrapper li.gfield.gfield_error.gfield_contains_required div.ginput_container,
footer .gform_wrapper li.gfield.gfield_error.gfield_contains_required label.gfield_label {
	margin-top: 0;
	margin-bottom: 10px;
}

footer .gform_wrapper .gform_footer {
	margin: 0;
}

footer div.footer-1-inner div.newsletter input[type="text"] {
	margin: 0;
}

footer .gform_wrapper .top_label .gfield_label {
	display: none;
}

footer .gform_wrapper div.validation_error,
footer .gform_wrapper .validation_message,
footer .gform_wrapper li.gfield.gfield_error {
	padding: 12px 10px;
	background-color: #fff;
	color: #ff0000;
	border: solid 2px #ff0000;
}

footer .gform_wrapper .gfield_error .gfield_label {
	color: #ff0000;
}

footer .gform_wrapper.gform_validation_error .gform_body ul li.gfield.gfield_error:not(.gf_left_half):not(.gf_right_half),
footer .gform_wrapper .gform_validation_error ul.gform_fields li.gfield {
	padding: 16px;
	width: 100%;
	max-width: 100% !important;
}

footer .gform_wrapper li.gfield_error input:not([type="checkbox"]):not([type="submit"]):not([type="button"]) {
	border: solid 1px #ff0000 !important;
	width: 100% !important;
}

/********************************************************************************
*********************************************************************************

ARROW BAR

*********************************************************************************
********************************************************************************/

.arrow-bar, #tribe-events-bar {
	background-color: #001d77;
	color: #fff;
	text-align: center;
	padding: 12px 0;
	position: relative;
	text-transform: uppercase;
}
.arrow-bar.with-buttons, #tribe-events-bar.with-buttons {
	padding-bottom: 0;
}

.arrow-bar.header-arrow-bar h3,
.arrow-bar.header-arrow-bar h4 {
	margin-bottom: 0;
}
.arrow-bar.header-arrow-bar h3 {
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing : 1.8px;
}

.arrow-bar:after, #tribe-events-bar:after {
	content: "";
	position: absolute;
	left: calc(50% - 9.5px);
	border-left: solid 10px transparent;
	border-right: solid 10px transparent;
	width: 0;
	height: 0;
	border-top: solid 10px #001d77;
	bottom: -10px;
}
.arrow-bar.with-buttons:after {
	border-top: solid 10px #e6e7e8 !important;
}

.arrow-bar.orange {
	background-color: #ff6319;
}
.arrow-bar.orange:after {
	border-top: solid 10px #ff6319;
}

.arrow-bar.light-blue {
	background-color: #00a1de;
}
.arrow-bar.light-blue:after {
	border-top: solid 10px #00a1de;
}

.arrow-bar.green {
	background-color: #00b092;
}
.arrow-bar.green:after {
	border-top: solid 10px #00b092;
}

.arrow-bar .inner {
	padding: 0;
}

.arrow-bar-buttons {
	background-color: #e6e7e8;
	text-align: center;
	padding: 8px 0 2px 0;
	margin-top: 12px;
}

.arrow-bar-buttons .inner {
	width: 1024px;
}

/********************************************************************************
*********************************************************************************

STICKY SECTIONS

*********************************************************************************
********************************************************************************/

.module {
	background-color: #fff;
}

.module .module-header {
	text-transform: none;
	font-weight: normal;
}

/********************************************************************************
*********************************************************************************

PRICE TABLE

*********************************************************************************
********************************************************************************/

table.price-table {
	width: 100%;
	text-align: center;
	border-collapse: collapse;
	table-layout: fixed;
}

table.price-table tr.header-row td {
	font-size : 14px !important;
	padding: 20px 0;
}

table.price-table tr td {
	padding: 14px 0;
}

table.price-table tr:nth-child(even) td {
	background-color: #f6f6f6;
}

table.price-table tr td:first-child,
table.price-table tr td:last-child {
	width: calc((100% - 800px)/2);
}

table.price-table tr td:nth-child(2) {
	width: 320px;
	text-align: left;
}

table.price-table-2 tr td:nth-child(3),
table.price-table-2 tr td:nth-child(4) {
	width: 240px;
	font-size: 22px;
}

table.price-table-3 tr td:nth-child(3),
table.price-table-3 tr td:nth-child(4),
table.price-table-3 tr td:nth-child(5) {
	width: 160px;
	font-size: 22px;
}

.subtext {
	font-style: italic;
	font-size: 14px;
}

table.price-table tr td.price-footer-1 {
	text-align: left;
}
table.price-table tr td.price-footer-2 {
	text-align: center;
}

@media screen and (max-width: 900px) {
	table.price-table tr td:first-child,
	table.price-table tr td:last-child {
		width: 4.5%;
	}
	
	table.price-table tr td:nth-child(2) {
		width: 40%;
	}
	
	table.price-table-2 tr td:nth-child(3),
	table.price-table-2 tr td:nth-child(4) {
		width: 25.5%;
	}
	
	table.price-table-3 tr td:nth-child(3),
	table.price-table-3 tr td:nth-child(4),
	table.price-table-3 tr td:nth-child(5) {
		width: 17%;
	}
}

/********************************************************************************
*********************************************************************************

COLUMNS "FLEX" MODULE

*********************************************************************************
********************************************************************************/

.columns .columns-inner {
	display: flex;
}

.columns .columns-inner > div {
	flex: 1;
	padding: 0 20px;
	text-align: center;
}
.columns .columns-inner > div:first-child {
	padding-left: 0;
}
.columns .columns-inner > div:last-child {
	padding-right: 0;
}
.columns.left .columns-inner > div {
	text-align: left;
}

.columns .columns-inner img.icon {
	width: auto;
	height: auto;
	max-width: 25px;
	max-height: 21px;
	float: left;
	margin: 0 10px 0 0;
	position: relative;
	top: 6px;
}
.columns .columns-inner div.column-text {
	overflow: hidden;
}

.bright-blue-emphasis {
	font-style: italic;
	color: #00b092;
}

@media screen and (max-width: 600px) {
	.columns .columns-inner {
		display: block;
		width: 90%;
		margin: 0 auto;
	}
	
	.columns .columns-inner > div {
		padding: 0;
		margin: 0 0 32px 0;
	}
}

/********************************************************************************
*********************************************************************************

FAQ

*********************************************************************************
********************************************************************************/

.faqs {
	text-align: left;
}

.faqs .intro {
	margin: 0 0 32px 0;
}

.faq {
	cursor: pointer;
	transition: .15s;
}

.faq:nth-child(even) {
	background-color: #f6f6f6;
}

.question {
	position: relative;
	padding: 24px 60px 24px 24px;
}

.question:after {
	content: '';
	width: 15px;
	height: 15px;
	border-right: 1.5px solid #4d4f53;
	border-bottom: 1.5px solid #4d4f53;
	transform: rotate(-135deg);
	position: absolute;
	top: 50%;
	right: 24px;
	padding-top: -50%;
	transition: .15s;
}
.faq.open .question:after {
	transform: rotate(45deg);
}

.answer {
	box-sizing: border-box;
	height: 0;
	transition: .15s;
	overflow: hidden;
	padding: 0 24px;
	opacity: 0;
}
.faq.open .answer {
	padding: 24px;
	height: auto;
	opacity: 1;
}

/********************************************************************************
*********************************************************************************

BUTTON GRID

*********************************************************************************
********************************************************************************/

.button-grid-buttons {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.button-grid-buttons a {
	display: inline-block;
	width: 144px;
	height: 210px;
	margin: 0 10px 10px 0;
	text-decoration: none;
	background-color: #001D77;
}
.button-grid-buttons a:last-child {
	margin-right: 0;
}

.button-grid-buttons a img {
	width: 144px;
	height: 144px;
}

.button-grid-buttons a > div {
	color: #fff;
	padding: 12px;
	height: 42px;
	
	display: flex;
	align-items: center;
	justify-content: center;
	
	font-size : 16px;
	line-height : 20px;
}

/********************************************************************************
*********************************************************************************

SIMPLE MODULE STUFF

*********************************************************************************
********************************************************************************/

.sub-content-photos {
	margin: 32px 0 0 0;
	display: table;
	white-space: nowrap;
	width: 100%;
}

.sub-content-photos div {
	vertical-align: middle;
	padding: 0 10px 0 0;
	display: table-cell;
}

.sub-content-photos img {
	max-width: 100%;
	width: 100%;
}
.sub-content-photos div:last-child {
	padding: 0;
}

