$outerWidth: 1200px;
$innerWidth: 1024px;
$mobileWidth: 1000px;


//colors
$grey: #4d4f53;
$grey-light: #f6f6f6;
$blue: #001d77;
$blue-light: #00a1de;
$green: #00b092;
$white: #fff;
$orange: #ff6319;
$orange-light :#f79121;


//mixin
@mixin respond($media) {
  @if $media == mobile {
    @media (max-width: $mobileWidth) { @content; }
  }

}

//text
h1, h2, h3, h4, h5{
	font-weight: normal;
    margin: 0 0 8px;
}
h1{
	font-size: 34px;
}
h2{
	font-size: 26px;
}
h3{
    font-size: 22px;
}

body{
	background-color: $grey-light;
	font-family: 'Open Sans', sans-serif;
}

a{
	color: $blue-light;
	text-decoration: underline;
}

//buttons
button, .button, input[type="button"], input[type="submit"]{
	font-family: 'Open Sans', sans-serif;
	cursor: pointer;
	border: 0;
	border-radius: 0;
	text-transform: uppercase;
	text-align: center;
	color: $white;
	background: linear-gradient(to right, $orange-light 0%, $orange 50%);
	background-size: 200%;
	background-position: left center;
	text-decoration: none;
	text-decoration: none;
	font-weight: bold;
	box-sizing: border-box;
	display: inline-block;
	transition: .3s;
	letter-spacing: 1.2px;
	margin-top: 30px;
	padding: 15px 17px;

	&:hover{
		//background: $orange;
		background-position: right;
	}

	&.blue{
		color: $blue;
		background: $white;
		border: 2px solid $blue;
		&:hover{
			color: $white;
			background: $blue;
		}
	}
	&.bluereverse{
		background: $blue;
		border: 2px solid $blue;
		&:hover{
			background: $white;
			color: $blue;
		} 
	}
	&.blue-light{
		color: $blue-light;
		background: $white;
		border: 2px solid $blue-light;
		&:hover{
			color: $white;
			background: $blue-light;
		}
	}
	&.green{
		color: $green;
		background: $white;
		border: 2px solid $green;
		&:hover{
			color: $white;
			background: $green;
		}
	}
	&.orange{
		color: $orange;
		background: $white;
		border: 2px solid $orange;
		&:hover{
			color: $white;
			background: $orange;
		}
	}
}

/* sticky css */
.stuck {
	position:fixed;
	top:0;
	opacity: 1;
	z-index: 2;
	transition: opacity .05s;

	&.module-header{
		margin-top: 62px;
		width: 100%;
	}
}
header.stuck{
	z-index: 4;
}
//don't hide the header, only module-headers
.wp-previous .module-header.stuck{
	opacity: 0;
}
.sticky-wrapper{
	z-index: 3;

}
.modules .module .module-header{
	z-index: 1;
}
a.anchor {
    display: block;
    position: relative;
    top: -63px; //62 header + 118 menu
    visibility: hidden;
}
::-webkit-media-controls {
  display:none !important;
}