@import "variables";

//FORMS
body .gform_wrapper{
	form{
		.gform_body{
			.field-sublabel-hide{
				.ginput_complex.ginput_container{

					label{
						display: none;
					}
				}
			}

			.newsletter &{
				input{
					width: 100%;
				}
			}
		}
		select{

		  height: 36px;

		  @include respond(mobile){
		    height: 46px;
		  }
		}
		div.validation_error{
		  display: none;
		}
		ul.gform_fields {

			li.gfield.gfield_error, 
			li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning{
			  background: transparent;
			  border: 0;
			  padding: 0;
			  margin-bottom: 0 !important;
			}
			li.half-width-column{
				width: 50%;
			    max-width: 50% !important;
			    display: inline-block;
			    vertical-align: top;

			    @include respond(mobile){
			    	width: 100%;
			    	max-width: 100% !important;
			    	display: block;
			    	vertical-align: initial;
			    }
			}
			li.gfield {
				//this might be unnecessary
			    input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]), 
			    textarea, select{
			    	width: 100%;
			    	margin-right: 16px;

					background: $white;
					border-radius: 0px;
					border: 1px solid $grey;
			    }
			}
		}
	}
}
.gform_wrapper li.gfield.gfield_error.gfield_contains_required div.gfield_description.validation_message{
	border: 0px;
	padding: 0;
}
.gform_wrapper li.gfield_error select{
	border: 1px solid #790000;
}
