@import "variables";

/* normalizers */
@import "normalize.css";


.showMobile{
	display: none;
}
.hideMobile{
	display: inherit;
}
@include respond(mobile){
	.showMobile{
		display: block;
	}
	.hideMobile{
		display: none;
	}
}

header{
	background: $white;
	border-bottom: 1px solid $grey-light;
	width: 100%;
	height: 50px;
    @include respond(mobile){
		height: 124px;
		transition: .15s;

		.pageScrolled &{
			height: 62px;
		}
	}

	.innerWrapper{
		max-width: $outerWidth;
		margin: 0 auto;

		@include respond(mobile){
			position: fixed;
			width: 100%;
			height: 124px;
			z-index: 100;
			transition: .15s;

			.pageScrolled &{
				height: 62px;
				box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, 0.33);
			}
		}
	}

	.homeLink{
		display: inline-block;
		background-image: url('../images/logo.svg');
		background-repeat: no-repeat;
		background-position: 50%;
		background-size: calc(80%);
		height: 50px;
		width: 300px;
    	margin: 0 0 0 88px;

    	@include respond(mobile){
    		position: absolute;
    		top: 62px;
    		left: 0px;
    		height: 62px;
    		width: 100%;
    		margin: 0;
    		background-color: white;
    		transition: .15s;
    		box-shadow: 0 0 0 0 rgba(0,0,0,0);

    		.pageScrolled &{
				top: 0px;
				left: 62px;
				height: 62px;
				width: calc(100% - 124px);
				
				img{
					width: 100%;
				}


    		}
    	}
	}
	
	ul#navigation{
		display: inline-block;
		vertical-align: top; 
		list-style-type: none;
		margin: 0;
		padding: 0;
		transition: .15s;


		@include respond(mobile) {
			display: none;
			height: 0px;
			box-shadow: 0px 15px 10px -1px rgba(0, 0, 0, 0.33);
			overflow: auto;
		}

		> li {
			height: 50px;
			box-sizing: border-box;
			display: inline-block;
			border-left: 1px solid $grey-light;
			position: relative;
			text-transform: capitalize;
			border-top: 3px solid transparent;
			padding: 11px 0 0;
			transition: .15s;

			&:last-child{
				border-right: 1px solid $grey-light;
			}

			&:hover, &.activeMenu{
				border-top: 3px solid $orange;

				ul.level-2{
					display: block;
					height: auto;
				}
			}
			a{
				box-sizing: border-box;
				text-decoration: none;
				text-transform: capitalize;
				color: $grey;
				text-align: center;
				padding: 14px 24px;

			}
			
			@include respond(mobile){
				display: block;
				width: 100%;
				height: initial;
				border-left: iniital;
				position: relative;
				border:0;
				border-top: 0;
				border-bottom: 1px solid $grey-light;
				> a{
					border: 0;
					display: block;
					text-align: left;
				}
				> a:after{
					content: ' ';
					width: 15px;
					height: 15px;
					border-right: 1.5px solid $grey;	
					border-bottom: 1.5px solid $grey;
					transform: rotate(-135deg);
					transition: .15s;
					position: absolute;
					top: 22px;
					right: 24px;
				}

				&:hover, &.activeMenu{
					border: 0;
					border-top: 0;

					> a:after{
						transform: rotate(45deg);
						top: 12px;
					}

				}
			}

			ul.level-2{
				list-style-type: none;
				display: none;
				position: absolute;
				left: -1;
				top: 46px;
				padding: 0;
				background: $white;
				border-top: 0;
				border: 1px solid $grey-light;
				box-shadow: 2px 5px 10px -1px rgba(0,0,0,0.33);
				width: 300px;
				transition: .15s;

				@include respond(mobile){
					width: 100%;
					box-shadow: initial;
					position: initial;
					height: 0;
					border: 0;
				}


				li{
					border-bottom: 1px solid $grey-light;

					a{
						width: 100%;
						line-height: 2.5;
						padding: 0 50px;
						text-transform: capitalize;
						text-decoration: none;
						position: relative;

						&:before{
							content: ' ';
							width: 0; 
							height: 0; 
							border-top: 10px solid transparent;
							border-bottom: 10px solid transparent;
							border-left: 10px solid $orange;
							position: absolute;
							left: 12px;
							top: 0px;
							opacity: 0;
							transition: .15s;

							@include respond(mobile){
								top: 8px;
							}
						} 

						&:hover{
							text-decoration: underline;
							
							&:before{
								left: 24px;
								opacity: 1;
							}
						}

						@include respond(mobile){
							background: $grey-light;							
							display: block;
							text-align: left;
							border-bottom: 1px solid $white;
							&:hover{
								text-decoration: underline;
							}
						}
					}
				}
			}
		}
	}

	button#buyTicketTop{
		height: 50px;
		float: right;
		vertical-align: top;
		line-height: 50px;
	    padding: 0 33px;
	    font-size: 14px;
	    font-weight: bold;
	    margin-top: 0;
	    font-weight: normal;
	    position: relative;
	    overflow: hidden;
	    @include respond(mobile){
	    	height: 62px;
	    }

	    &:before{
	    	content: ' ';
			height: 50px;
			width: 36px;
			background-image: url(../images/ticket-icon.svg);
			background-size: 29px;
			//position: absolute;
			background-position: 0% 50%;
			background-repeat: no-repeat;
			left: 0;
			top: 0;
			display: inline-block;
			transition: .15s;

			@include respond(mobile){

				height: 62px;
				.pageScrolled &{
					width: 62px;
					background-position: 50% 50%;
					background-size: 40px;
				}
			}
	    }
	    label{
			padding-left: 0;
			font-weight: bold;
			line-height: 50px;
			vertical-align: top;
	    }

    	@include respond(mobile){
    		width: 50%;
    		padding: 0;
			height: 62px;
			transition: .15s;

			label{
				padding-left: 0;
				font-weight: bold;
				line-height: 62px;
				vertical-align: top;
			}

			.pageScrolled &{
				width: 62px;

				label{
					width: 0px;
					display: none;
					opacity: 0;
				}
			}
    	}	
	}
}

.show-nav{
	transition: .15s;
	.mobileMenu{
		.hideMenuOpen{
			display: none;
		}
		.showMenuOpen{
			display: inline-block;
		}
	}
	ul#navigation{
		display: block;
		z-index: 10;
		background: white;
		position: absolute;
		width: 100%;
		padding: 0;
		height: auto;
	}
}

.mobileMenu{
	display: none;
	background: $blue;
	color: $grey-light;
	height: 50px;
	width: 50%;
	float: none;
	cursor: pointer;
	text-align: center;


	@include respond(mobile) {
		display: inline-block;
		vertical-align: top;
		transition: .15s;
		height: 62px;
		overflow: hidden;

		.pageScrolled &{
			width: 62px;
		}
	}

	.hideMenuOpen{
		display: inline-block;
	}
	.showMenuOpen{
		display: none;
	}
	
	.label{
		line-height: 50px;
		padding-left: 0.5em;
		width: 100%;
		text-align: left;
		font-size: 14px;
		font-weight: bold;

		transition: .15s;
		overflow:hidden;
		span{
			line-height: 50px;
			vertical-align: top;
		}
		@include respond(mobile){
			line-height: 62px;
			span{
				line-height: 62px;
			}
			.pageScrolled &{
				display: none;
				opacity: 0;
				width: 0px;
			}
		}
	}

	.hamburger {
		display: inline-block;
		font: inherit;
		overflow: visible;
		margin: 0;
		padding: 19px 0px;
		cursor: pointer;
		transition-timing-function: linear;
		transition-duration: .15s;
		transition-property: opacity,filter;
		text-transform: none;
		color: inherit;
		border: 0;
		background-color: transparent;
		transform: scale(.9);
	}
	.hamburger-box {
		position: relative;
		display: inline-block;
		width: 2.2rem;
		height: 24px;
	}
	.hamburger .hamburger-inner {
		background-color: $grey-light;
		&:after, &:before {
		  background-color: $grey-light;
		}
	}
	.hamburger-inner {
		position: absolute;
		width: 2.2rem;
		height: 2px;
		top: 2px;
		transition-timing-function: ease;
		transition-duration: .15s;
		transition-property: transform;
		border-radius: 4px;
		background-color: #000;
		.show-nav &{
			//X it up
			transform: translate3d(-2px,9px,38px) rotate(45deg)
		}

		&:after, &:before {
		  position: absolute;
		  width: 2.2rem;
		  height: 2px;
		  transition-timing-function: ease;
		  transition-duration: .15s;
		  transition-property: transform;
		  border-radius: 4px;
		  background-color: #000;
		}
		&:after {
		  display: block; 
		  content: "";

		  .show-nav &{
		  	transform: translate3d(0,-17px,0) rotate(-90deg)
		  }
		}
		&:before {
		  display: block;
		  content: "";
		  top: 8px;
		  transition-timing-function: ease;
		  transition-duration: .15s;
		  transition-property: transform, opacity;

		  .show-nav &{
		  	transform: rotate(-45deg) translate3d(-5.71px,-6px,0);
			opacity: 0;
		  }
		}
		&:after {
		  bottom: -10px;
		  top: 16px;
		}

	}
}