@import "variables";

.showMobile{
	display: none;
}
.hideMobile{
	display: inherit;
}
@include respond(mobile){
	.showMobile{
		display: block;
	}
	.hideMobile{
		display: none;
	}
}


.alertBox{
	font-size: 12px;
	background: $grey-light;
	display: block;
	max-height: 32px;
	padding: 7px 38px 7px 11px;
	box-sizing: border-box;
	transition: .15s;

	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	cursor: pointer;

	.inner{
		box-sizing: border-box;
		padding: 0;
		overflow: hidden;
		text-overflow: ellipsis;
		width: 1200px;
		position: relative;
		padding-left: 35px;
		padding-right: 24px;
	}

	label{
		color: $orange;

		&:after{
			content: ' ';
			width: 12px;
			height: 12px;
			border-right: 1.5px solid #4d4f53;
			border-bottom: 1.5px solid #4d4f53;
			transform: rotate(-135deg);
			transition: .15s;
			position: absolute;
			top: 7px;
			right: 3px;
		}
	}
	&.showAlert{
		max-height: 50%;
		text-overflow: initial;
		white-space: initial;
		overflow: auto;
		padding-top: 14px;
		padding-bottom: 14px;
		
		label:after{
			transform: rotate(45deg);
			top: 0px;
		}
	}

    @include respond(mobile){
		.pageScrolled &{
			max-height: 0;
			padding: 0;
		}
	}
}
	
header{
	background: $white;
	border-bottom: 1px solid $grey-light;
	width: 100%;
	height: 62px;
	z-index: 5;

    @include respond(mobile){
		height: 124px;
		transition: .15s;

		.pageScrolled &{
			height: 62px;
		}
	}
	
	.innerWrapper{
		max-width: $outerWidth;
		margin: 0 auto;
		display: flex;


		@include respond(mobile){
			position: fixed;
			display: block;
			width: 100%;
			height: 124px;
			z-index: 100;
			transition: .15s;

			.pageScrolled &{
				height: 62px;
				box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, 0.33);
			}
		}
	}

	.homeLink{
		display: inline-block;
		height: 62px;
		min-width: 235px;
		width: 300px;
    	margin: 0;
    	text-align: center;

    	> span{
    		display: inline-block;
    		margin: 0 auto;
    		height: 100%;
    		max-width: 490px;
	    	width: 100%;
			background-image: url('../images/logo.svg');
			background-repeat: no-repeat;
			background-position: 50%;
			background-size: 88%;
    	}


    	@include respond(mobile){
    		position: absolute;
    		top: 62px;
    		left: 0px;
    		height: 62px;
    		width: 100%;
    		margin: 0;
    		background-color: white;
    		transition: .15s;
    		box-shadow: 0 0 0 0 rgba(0,0,0,0);

    		.pageScrolled &{
				top: 0px;
				left: 62px;
				height: 62px;
				width: calc(100% - 124px);
				min-width: initial;
				max-width: initial;
				
				img{
					width: 100%;
				}


    		}
    	}
	}
	
	//navigation menu
	ul#menu-header-menu{
		display: inline-flex;
		vertical-align: top; 
		list-style-type: none;
		margin: 0;
		padding: 0;
		transition: max-height .15s;
		width: calc(100% - 491px);

		@include respond(mobile) {
			box-shadow: 0px 5px 10px -1px rgba(0, 0, 0, 0.33);
			overflow: auto;
			width: 100%;
			max-height: 0px;
			display: block;
		}

		> li {
			height: 62px;
			box-sizing: border-box;
			display: inline-block;
			position: relative;
			text-transform: capitalize;
			width: 25%;
			transition: .15s;
			border-left: 1.5px solid $grey-light;

			&:last-child{
				border-right: 1.5px solid $grey-light;
			}

			&:hover, &.activeMenu{

				ul.sub-menu{
					display: block;
				}
				> a{
					border-top: 3px solid $orange;

					@include respond(mobile){
						border-top: 0;
					}
				}
			}
			@include respond(mobile){
				&:hover, &.activeMenu{

					ul.sub-menu{
						display: initial;
					}
				}
			}
			> a{
				border-top: 3px solid transparent;
			}
			a{
				box-sizing: border-box;
				text-decoration: none;
				text-transform: capitalize;
				color: $grey;
				text-align: center;
				padding: 19px 0;
				display: block;
			}
			
			@include respond(mobile){
				display: block;
				width: 100%;
				height: initial;
				border-left: iniital;
				position: relative;
				border:0;
				border-top: 0;
				padding: 0;
				border-bottom: 1px solid $grey-light;
				
				> a{
					border: 0;
					display: block;
					text-align: left;
					padding: 14px 20px;
				}
				> a:after{
					content: ' ';
					width: 15px;
					height: 15px;
					border-right: 1.5px solid $grey;	
					border-bottom: 1.5px solid $grey;
					transform: rotate(-135deg);
					transition: .15s;
					position: absolute;
					top: 22px;
					right: 24px;
				}

				&:hover, &.activeMenu{
					border: 0;
					border-top: 0;

					> a:after{
						transform: rotate(45deg);
						top: 12px;
					}

					ul.sub-menu{
						max-height: 50vh;
					}

				}
			}

			ul.sub-menu{
				list-style-type: none;
				display: none;
				position: absolute;
				left: -1;
				top: 61px;
				padding: 0;
				background: $white;
				border-top: 0;
				border: 1px solid $grey-light;
				box-shadow: 1px 2px 2px -1px rgba(0, 0, 0, 0.33);
				width: 300px;
				transition: .15s;
				z-index: 1;

				@include respond(mobile){
					width: 100%;
					box-shadow: initial;
					position: initial;
					max-height: 0;
					border: 0;
				}


				li{
					border-bottom: 1px solid $grey-light;
					
					&:hover{
						border-top: 0;
					}

					a{
						width: 100%;
						line-height: 1.2;
						padding: 20px 50px;
						text-transform: capitalize;
						text-decoration: none;
						position: relative;
						border-left: 0;
						text-align: left;

						//orange triangle
						&:before{
							content: ' ';
							width: 0;
							height: 0;
							border-style: solid;
							border-width: 50px 0 50px 86.6px;
							border-color: transparent transparent transparent #ff6319;
							transform: scale(0.2);
							position: absolute;
							left: -24px;
							top: -19px;
							opacity: 0;
							transition: .15s;
						} 

						&:hover{
							text-decoration: underline;

							
							&:before{
								left: -12px;
								opacity: 1;
							}
						}

						@include respond(mobile){
							background: $grey-light;							
							display: block;
							text-align: left;
							border-bottom: 1px solid $white;
							&:hover{
								text-decoration: underline;
							}
						}
					}
				}
			}
		}
	}

	button#buyTicketTop{
		height: 62px;
		vertical-align: top;
		line-height: 62px;
	    font-size: 16px;
	    font-weight: bold;
	    letter-spacing: .5px;
	    margin-top: 0;
	    font-weight: normal;
	    position: relative;
	    overflow: hidden;
		width: 195px;
		padding: 0;

	    @include respond(mobile){
	    	height: 62px;
	    }

	    &:before{
			cursor: pointer;
	    	content: ' ';
			height: 62px;
			width: 36px;
			background-image: url(../images/ticket-icon.svg);
			background-size: 29px;
			//position: absolute;
			background-position: 0% 50%;
			background-repeat: no-repeat;
			left: 0;
			top: 0;
			display: inline-block;
			transition: .15s;

			@include respond(mobile){

				height: 62px;
				.pageScrolled &{
					width: 62px;
					background-position: 50% 50%;
					background-size: 40px;
				}
			}
	    }
	    label{
			padding-left: 0;
			font-weight: bold;
			line-height: 62px;
			vertical-align: top;
			cursor: pointer;
	    }

    	@include respond(mobile){
    		width: 50%;
    		display: block;
			position: absolute;
			top: 0px;
			right: 0px;
    		padding: 0;
			height: 62px;
			transition: .15s;

			label{
				padding-left: 0;
				font-weight: bold;
				line-height: 62px;
				vertical-align: top;
				font-size: 14px;
			}

			.pageScrolled &{
				width: 62px;

				label{
					width: 0px;
					display: none;
					opacity: 0;
				}
			}
    	}	
	}
}

.show-nav{
	transition: max-height .15s;
	.mobileMenu{
		.hideMenuOpen{
			display: none;
		}
		.showMenuOpen{
			display: inline-block;
		}
	}
	ul#menu-header-menu{
		z-index: 10;
		background: white;
		position: absolute;
		width: 100%;
		padding: 0;
		height: auto;
		max-height: calc(100vh - 62px);
		top: 62px;
	}
}

.mobileMenu{
	display: none;
	background: $blue;
	color: $grey-light;
	width: 50%;
	height: 62px;
	float: none;
	cursor: pointer;
	text-align: center;


	@include respond(mobile) {
		display: inline-block;
		vertical-align: top;
		transition: .15s;
		overflow: hidden;

		.pageScrolled &{
			width: 62px;
		}
	}

	.hideMenuOpen{
		display: inline-block;
	}
	.showMenuOpen{
		display: none;
	}
	
	.label{
		line-height: 62px;
		padding-left: 0.5em;
		width: 100%;
		text-align: left;
		font-size: 14px;
		font-weight: bold;

		transition: opacity .15s width .15s;
		overflow:hidden;
		span{
			line-height: 62px;
			vertical-align: top;
		}
		@include respond(mobile){
			line-height: 62px;
			span{
				line-height: 62px;
			}
			.pageScrolled &{
				display: none;
				opacity: 0;
				width: 0px;
			}
		}
	}

	.hamburger {
		display: inline-block;
		font: inherit;
		overflow: visible;
		margin: 0;
		padding: 19px 0px;
		cursor: pointer;
		transition-timing-function: linear;
		transition-duration: .15s;
		transition-property: opacity,filter;
		text-transform: none;
		color: inherit;
		border: 0;
		background-color: transparent;
		transform: scaleX(.6);
		transition: .15s;

		.show-nav &{
			transform: scale(.7);
		}
	}
	.hamburger-box {
		position: relative;
		display: inline-block;
		width: 2.2rem;
		height: 24px;
	}
	.hamburger .hamburger-inner {
		background-color: $grey-light;
		&:after, &:before {
		  background-color: $grey-light;
		}
	}
	.hamburger-inner {
		position: absolute;
		width: 2.2rem;
		height: 2px;
		top: 2px;
		transition-timing-function: ease;
		transition-duration: .15s;
		transition-property: transform;
		border-radius: 4px;
		background-color: #000;
		.show-nav &{
			//X it up
			transform: translate3d(-2px,9px,38px) rotate(45deg)
		}

		&:after, &:before {
		  position: absolute;
		  width: 2.2rem;
		  height: 2px;
		  transition-timing-function: ease;
		  transition-duration: .15s;
		  transition-property: transform;
		  border-radius: 4px;
		  background-color: #000;
		}
		&:after {
		  display: block; 
		  content: "";

		  .show-nav &{
		  	transform: translate3d(0,-17px,0) rotate(-90deg) scaleX(1);
		  }
		}
		&:before {
		  display: block;
		  content: "";
		  top: 8px;
		  transition-timing-function: ease;
		  transition-duration: .15s;
		  transition-property: transform, opacity;

		  .show-nav &{
		  	transform: rotate(-45deg) translate3d(-5.71px,-6px,0);
			opacity: 0;
		  }
		}
		&:after {
		  bottom: -10px;
		  top: 16px;
		}

	}
}


/* 
	SCROLL STICKY HEADERS
	https://codepen.io/chrissp26/pen/gBrdo 
*/
.module .module-header.fixed, #tribe-events-bar.fixed {
	position: fixed;
	top: 0;
	width: 100%;
	box-sizing: border-box;
	z-index: 1;

	@include respond(mobile){
		top: 62px;
	}
}

.module .module-header.fixed.absolute, #tribe-events-bar.absolute {
  position: absolute;
}

/* timeline */
.timeline{
	.inner{
		padding: 0;

		.timelineItem{
			box-sizing: border-box;
			
			text-align: right;
			position: relative;
			top: -2em;
			box-sizing: border-box;
			width: calc(50% + 6.5px);
			border-left: 0;
			border-right: 2px solid $blue;
			margin-right: 50%;
			margin-left: 0;
			padding-top: 2em;
			padding-right: 3em;
			padding-bottom: 2em;
			
			&:first-child{
				top: 0;
			}

			@include respond(mobile){
				text-align: left;
				top: 0;
				position: initial;
				width: 100%;
				border: 0;
				margin: initial;
				padding: initial;
				padding: 2em 0;
				border-bottom: 1px solid $blue;
				display: block;
			}

			&:before{
				//lil dot guy
				content: ' ';
				position: absolute;
				right: 1.5em;
				top: 2.5em;
				border: 3px solid red;
				border-radius: 50%;
				background: white;
				width: .5em;
				height: .5em;
				z-index: 0;
				@include respond(mobile){
					display: none;
				}
			}
			&:after{
				//lil line
				content: ' ';
				position: absolute;
				width: calc(1.5em + 1px);
				top: 2.85em;
				right: 0px;
				left: initial;
				height: 1px;
				border-top: 2px solid $blue;
				z-index: 0;
				@include respond(mobile){
					display: none;
				}
			}
			.timelineImg{

				@include respond(mobile){
					position: initial;
					top: initial;
					left: initial;
				}

				img{
					@include respond(mobile){
						margin-top: 2em;
						width: 100%;
					}
				}
				&:before{
					//lil line
					content: ' ';
					position: absolute;
					width: 2em;
					top: 1em;
					left: 1em;
					height: 1px;
					border-top: 2px solid $blue;
					z-index: 0;

					@include respond(mobile){
						display: none;
					}
				}
			}

			&:nth-child(even){
				text-align: left;
				border-right: 0;
				border-left: 2px solid $blue;
				margin-left: calc(50% + 4px);
				margin-right: 0;
				padding-left: 3em;

				@include respond(mobile){
					text-align: left;
					border: 0px;
					margin: initial;
					padding: initial;
					width: 100%;
					padding-bottom: 2em;
					border-bottom: 1px solid $blue;
					margin-bottom: 2em;
				}

				&:before{
					right: initial;
					left: 1.5em;
				}
				&:after{
					right: initial;
					left: -1px;
				}
			}

		}
			
	}
}